.mainCont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px 0;

}


.divInfo {
    width: 50%;
    overflow: hidden;
}

.formCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.titre {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-size: 36px;
    margin-bottom: 30px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

label {
    position: absolute;
    top: 23%;
}

input, select {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box;
    outline: none;
}

.form-submit {
    display: inline-block;
    background: rgb(108, 170, 228);
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

    .form-submit:hover {
        background: rgb(66, 146, 220);
    }

.divPic {
    margin-top: 45px;
    margin: 0 55px;
    width: 50%;
    overflow: hidden;
    position:relative;
    right:-50px;
}

figure {
    margin-bottom: 50px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.membre {
    font-size: 18px;
    color: #222;
    display: block;
    text-align: center;
}
.membre:hover {
    color: black;
}

@media only screen and (max-width: 770px)
{
    .mainCont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;
    }

    .divInfo,.divPic {
        width: 100%;
    }

    .form-submit
    {
        width:100%;
    }

    .membre {
        font-size: 16px;
    }
}