@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-Up">Log off</a>

    }
}
else
{
        <a href="~/Utilisateurs/Create" id="btnSignUp" class="btn btn-Up">Sign Up</a>
}

